.star {
    background-image: url('./resources/svg/star.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    display: inline-block;
}

.rate-container {
    margin-left: -2px;
}